/*============= PGM styles ============*/

/* Original Node Color attributes */

.vertex circle {
/*
    fill: lightsteelblue;
    stroke: lightsteelblue;
*/
    fill: #52bf90;
    stroke: #52bf90;
    stroke-width: 4px;
}


/* Visited vertex Color attributes */

.vertex .visitedVertex {
/*
    fill: steelblue;
    stroke: steelblue;
*/
    fill: #1d4433;
    stroke: #1d4433;
    stroke-width: 4px;
}

/* Vertex label text color attributes*/
.vertex text {
    font-family: "Helvetica";
    fill: white;
}

/* Grid line attributes */

.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}

p {
    color: #0e2219;
}


/*============= Chart styles ============*/
/*
.cell {
    fill: #52bf90;
}
*/

.cell text {
    font-family: "Helvetica";
}

/*============ Slider Button =============*/
.slider{
  width:500px;
  background: rgba(0,90,50,0.7);
}