.vertex circle {
  fill: lightsteelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.vertex circle.dragging {
  fill: green;
/*  stroke: black;*/
}

.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}

.path {
    stroke-width: 2;
    stroke: steelblue;
    fill: none;
}